:root {
}

.buttonMenuPause {
}

.buttonMenuPause {
    max-width: 300px;
    min-width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    -unity-font-definition: url("project://database/Assets/Fonts/PressStart2P.ttf?fileID=12800000&guid=9e642fb5a07d043dd923c41bbf979dc9&type=3#PressStart2P");
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.buttonNavbarSM {
    -unity-font-definition: url("project://database/Assets/Fonts/Retro%20Gaming.ttf?fileID=12800000&guid=f609de65a2f9f42f9a99694512846b22&type=3#Retro Gaming");
    background-color: rgba(188, 188, 188, 0);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 16px;
    padding-right: 16px;
}
