:root {
}

.buttonMenuPause {
}

.buttonMenuPause {
    max-width: 300px;
    min-width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/PressStart2P.ttf?fileID=12800000&guid=9e642fb5a07d043dd923c41bbf979dc9&type=3#PressStart2P");
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
